.body {
    background-color: var(--tg-theme-bg-color);
}

.msg {
    color:  var(--tg-theme-text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

.btn-sbm {
    background-color: var(--tg-theme-button-color);

}