.body {
    background-color: var(--tg-theme-bg-color);
}

.msg {
    color:  var(--tg-theme-text-color);
}

.btn-sbm {
    background-color: var(--tg-theme-button-color);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}